.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 20px;
}

.App__subsection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: white;
}

.App__reset {
  font-size: 20px;
  line-height: 23px;
  background-color: cornflowerblue;
  color: white;
  border: none;
}

body {
  background-color: rgba(1,112,126, 0.2);
}
